<div>
    <form id="formId() " name="form" method="POST" @submit.prevent="submit">
        <modal :modal="modalOptions">
            <div slot="content">
                <page-title>
                    <h5>{{ title() }}</h5>
                </page-title>
                <div class="row">
                    <div class="input-field col s12">
                        <label class="active">Conta Bancária:</label>
                        <input type="text" placeholder="Selecione uma Conta Bancária" :id="bankAccountTextId()" autocomplete="off" :data-activates="bankAccountDropdownId()" data-beloworigin="true">
                        <ul :id="bankAccountDropdownId()" class="dropdown-content ac-dropdown"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select-material 
                            :options="cpOptions" 
                            :selected.sync="bill.category_id"
                            name="category_id"
                            v-validate
                            data-vv-rules="required|min_value:1"
                            data-vv-name="category_id"
                            data-vv-as="Categoria">                            
                        </select-material>
                        <label class="active" 
                            for="category_id" 
                            :data-error="errors.first('category_id')">
                            Categoria
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" 
                            v-model="bill.date_due | dateFormat" 
                            name="date_due" 
                            placeholder="Informe a data" 
                            class="validate" 
                            v-validate 
                            data-vv-as="Vencimento"
                            data-vv-rules="required|date_format" 
                            :class="{'invalid': errors.has('date_due')}">
                        <label class="active" for="date_due" :data-error="errors.first('date_due')">Vencimento:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.value | moneyFormat" name="value" data-vv-as="Valor" placeholder="" class="validate" v-validate data-vv-rules="required|number_format:0.01" :class="{'invalid': errors.has('value')}">
                        <label class="active" for="value" :data-error="errors.first('value')">Valor:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.name" id="name" name="name" data-vv-as="Nome"  placeholder="" class="validate" v-validate data-vv-rules="required" :class="{'invalid': errors.has('name')}">
                        <label class="active" for="name" :data-error="errors.first('name')">Nome:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" class="filled-ind" v-model="bill.default" id="account_id"/>
                        <label for="account_id">Paga ?</label>
                    </div>
                </div> 
            </div>
        </modal>
        
    </form>
</div>

